### Tuples are ordered collection of items those are immutable and similar to lists

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
tpl = tuple()

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list(numbers) ## type conversion

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple = tuple([1,"hello",1.5, 25, True])
mixed_tuple

(1, 'hello', 1.5, 25, True)

In [8]:
type(mixed_tuple)

tuple

In [9]:
numbers[2]

3

In [10]:
numbers[-1]

6

In [11]:
concat_tuple = numbers + mixed_tuple
print(concat_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello', 1.5, 25, True)

In [13]:
mixed_tuple * 3 ## repeat 3 times

(1,
 'hello',
 1.5,
 25,
 True,
 1,
 'hello',
 1.5,
 25,
 True,
 1,
 'hello',
 1.5,
 25,
 True)

##### You can change the values of tuples as its immutable

In [14]:
numbers

(1, 2, 3, 4, 5, 6)

In [18]:
## tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [20]:
## packing and unpacking tuples
packed_tuple = 1, "Hello", 3, 4
packed_tuple

(1, 'Hello', 3, 4)

In [21]:
a,b,c,d = packed_tuple
print(a)
print(b)
print(d)

1
Hello
4

In [23]:
## unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [27]:
## nested tuples
lst = [[1,2,3,4],[5,6,7,8,9],(1,"hello",5,6.8)]
print(lst[0])
print(lst[0][2])
print(lst[2][0:3])

[1, 2, 3, 4]
3
(1, 'hello', 5)

In [28]:
## iterating over nested tuples
nested = ((1,2,3,4),(5,6,7),(1,'a',b))
for sub in nested:
    for item in sub:
        print(item, end=" ")

1 2 3 4 5 6 7 1 a Hello

#### Conclusion 
##### Tuples are versatile and useful in many realworld scenarios where an immutable and ordered collection of items are required. They are commonly used in datastructures, function arguments and return values, and as dictionary keys.