In [1]:
a=100

In [2]:
## Declaring and Assigning Variables
age = 32
height = 6.1
name="yaswanth"
is_student= False

print("age:", age)
print("height:", height)
print("name:", name)

age: 32
height: 6.1
name: yaswanth

In [3]:
## naming Conventions
## variable names should be descriptive
## They must start with a letter or underscore and contain letters, numbers and underscore
## variable names are case sensitives

#valid variable names
first_name="Yaswanth"
last_name="Kumar"

In [6]:
#Invalid variable names
#5age=32
#first-name
#@name

In [7]:
#case sensitive
name="krish"
Name="Yaswanth"
print(name)
print(Name)

krish
Yaswanth

In [10]:
## undestanding variable types
## python is dynamically typed, typeof a variable is  determined at runtime
age = 25
height=6.1
print(type(height))

<class 'float'>

In [11]:
type(height)

float

In [12]:
age = 25
print(type(age))

#Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [13]:
name="yaswanth"
int(name)

ValueError: invalid literal for int() with base 10: 'yaswanth'

In [14]:
age = '25'
print(type(int(age)))

<class 'int'>

In [16]:
height=6.1
type(int(height))
int(height)

6

In [17]:
## Dynamic Typing
## python allows the type of the variable to change as the program executes
var=10
print(var, type(var))

var = "Hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [19]:
## input
age=input("what is the age")
print(age)

15

In [20]:
## simple calculator
num1 = float(input("Enter first number"))
num2= float(input("Enter second number"))
sum = num1 + num2
sub = num1 - num2
prod = num1 * num2
quot = num1/num2

print(sum, sub, prod, quot)

20.0 10.0 75.0 3.0