### Dictionaries are unordered list of data. data stored in key value pair. and keys are unique.

### creating dictionaries

In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
empty_dict

{}

In [3]:
student = {
    "name": "yaswanth",
    "age": 35,
    "grade": 'A'
}

student

{'name': 'yaswanth', 'age': 35, 'grade': 'A'}

In [4]:
## Error
v = {"name": "yaswanth", "age": 35, "name": 24}
v

{'name': 24, 'age': 35}

In [8]:
print(student['grade'])
print(student.get('grade')) ## using get
print(student.get('last_name'))

A
A
None

In [10]:
### modifying dictionaries
student['age'] = 33
student['address'] = 'Banglore'
student

{'name': 'yaswanth', 'age': 33, 'grade': 'A', 'address': 'Banglore'}

In [11]:
del student['grade']
student

{'name': 'yaswanth', 'age': 33, 'address': 'Banglore'}

In [12]:
keys = student.keys()
values = student.values()
print(keys, values)

dict_keys(['name', 'age', 'address']) dict_values(['yaswanth', 33, 'Banglore'])

In [13]:
items = student.items()
print(items)

dict_items([('name', 'yaswanth'), ('age', 33), ('address', 'Banglore')])

In [15]:
## shallow copy
student_copy = student
print(student, student_copy)
student["name"] = "kumar"
print(student_copy)

{'name': 'yaswanth', 'age': 33, 'address': 'Banglore'} {'name': 'yaswanth', 'age': 33, 'address': 'Banglore'}
{'name': 'kumar', 'age': 33, 'address': 'Banglore'}

In [20]:
student_copy = student.copy()
print(student, student_copy)
student["name"] = "Yaswanth"
print(student, student_copy)

{'name': 'Krish', 'age': 33, 'address': 'Banglore'} {'name': 'Krish', 'age': 33, 'address': 'Banglore'}
{'name': 'Yaswanth', 'age': 33, 'address': 'Banglore'} {'name': 'Krish', 'age': 33, 'address': 'Banglore'}

In [21]:
### Iterating over dictionaries
for keys in student.keys():
    print(keys)

name
age
address

In [22]:
for values in student.values():
    print(values)

Yaswanth
33
Banglore

In [24]:
for key, value in student.items():
    print(f"{key} : {value}")

name : Yaswanth
age : 33
address : Banglore

In [25]:
## nested dictionaries
students = {
    "student1": {"name": "yaswant", "age": 35},
    "student2": {"name": "kumar", "age": 33}
}
students

{'student1': {'name': 'yaswant', 'age': 35},
 'student2': {'name': 'kumar', 'age': 33}}

In [26]:
print(students["student2"]["name"])
print(students["student1"]["name"])

kumar
yaswant

In [28]:
for student_id, student_info in students.items():
    print(f"{student_id} : {student_info}")
    for key, value in student_info.items():
        print(f"{key} : {value}")

student1 : {'name': 'yaswant', 'age': 35}
name : yaswant
age : 35
student2 : {'name': 'kumar', 'age': 33}
name : kumar
age : 33

In [29]:
## Dictionary Comprehensions
squares = {x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [30]:
even_squares = {x:x**2 for x in range(10) if x%2==0}
even_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [31]:
## example
numbers = [1,2,2,3,3,3,4,4,5,6,7,7,8,8,8,9,9,9,9,10]
freq = {}
for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1
print(freq)

{1: 1, 2: 2, 3: 3, 4: 2, 5: 1, 6: 1, 7: 2, 8: 3, 9: 4, 10: 1}

In [32]:
dict1 = {"a": 1, "b": 2}
dict2 = { "b": 3, "C": 4 }
merge_dict = {**dict1, **dict2}
merge_dict

{'a': 1, 'b': 3, 'C': 4}