### Exploring Lambda function

In [1]:
def addition(a, b):
    return a + b
addition(10,5)

15

In [ ]:
addition = lambda a,b:a+b ### lambda parameters: expression
addition(10,15)

25

In [5]:
addition = lambda a,b,c: a+b+c
addition(10,4,5)

19

In [8]:
numbers=[1,2,3,4,5,6]
def square(numbers):
    lst = []
    for num in numbers:
        lst.append(num**2)
    return lst
square(numbers)

[1, 4, 9, 16, 25, 36]

In [ ]:
square_numbers = list(map(lambda num: num**2, numbers)) ## Lambda with map
square_numbers

[1, 4, 9, 16, 25, 36]

### Exploring Map Function

In [1]:
def square(x):
    return x**2
square(4)

16

In [2]:
numbers = [1,2,3,4,5,6]
square_numbers = list(map(square, numbers))
square_numbers

[1, 4, 9, 16, 25, 36]

In [7]:
square_numbers = list(map(lambda x: x*x, numbers)) ## Lambda with map
square_numbers

[1, 4, 9, 16, 25, 36]

In [8]:
## map multiple iterables
num1 = [1,2,3]
num2 = [4,5,6]
added_numbers = list(map(lambda x,y: x+y, num1,num2))
added_numbers

[5, 7, 9]

In [12]:
str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers)) ## you can use inbuild functions as function in lambda
print(int_numbers)

[1, 2, 3, 4, 5]

In [13]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(str.upper, words))
upper_words

['APPLE', 'BANANA', 'CHERRY']

In [14]:
def get_name(person):
    return person['name']
people = [
    {'name': 'yaswant', 'age': 25},
    {'name': 'kumar', 'age': 26}
]
list(map(get_name, people))

['yaswant', 'kumar']

### Exploring filters

In [16]:
def even(num):
    if num%2==0:
        return True
even(24)

True

In [18]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even, lst))

[2, 4, 6, 8, 10, 12]

In [19]:
### filter with lambda
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(lambda x: x>5, numbers))

[6, 7, 8, 9, 10, 11, 12]

In [20]:
### filter with lambda and multiple conditions
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(lambda x:x>5 and x%2==0, numbers))

[6, 8, 10, 12]

In [22]:
### filter with dictionaries
people = [
    {'name': 'yaswant', 'age': 25},
    {'name': 'kumar', 'age': 26},
    {'name': 'krysh', 'age': 33},
    {'name': 'suresh', 'age': 24}
]

def age_great_25(person):
    return person['age'] > 25
list(filter(age_great_25, people))

[{'name': 'kumar', 'age': 26}, {'name': 'krysh', 'age': 33}]